.home-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 8px;
    background-color: cornflowerblue;
}

.body {
    display: flex;
    flex-direction: row;
}

.first-column {
    display: flex;
    flex: 1;
    height: 95vh;
    padding: 10px;
    flex-direction: column;
}

.second-column {
    display: flex;
    flex: 1;
    height: 95vh;
    padding: 10px;
    flex-direction: column;
}

.third-column {
    display: flex;
    flex: 2;
    height: 95vh;
    padding: 10px;
    flex-direction: column;
}