.card-container {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    background-color: white;
    border-width: 1;
    border-color: gray;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-content {
    display: flex;
    margin: 5px;
    flex-direction: row;
    flex-wrap: wrap;
}

.bottom-link {
    text-decoration: none;
    margin-left: 5px;
    padding: 5px;
}

.bottom-link p {
    margin-top: 20px;
    text-decoration: none;
}