.sales-container {
    height: 30vh;
    width: 20vw;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

.sales-chart {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}